#intro-text
{
  color:black;
  font-display:auto;
  font-style: normal;
  font-family: sans-serif;
  font-size:12;
}

.normal_text
{
  color:black;
  font-display:auto;
  font-style: normal;
  font-family: sans-serif;
  font-size:12;

}
